
.container-iphone {
  width: 375px;
  height: 667px;
}

.container-form {
position: absolute;
background-color: #DBD6D6;
top: 30%;
left: 50%;
transform: translate(-50%, -30%);
border-radius: 5px;
}

.button-submit {
  margin-left: auto;
  margin-right: auto;
}

.center-text-date {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.center-text-time {
  width: 70%;
  margin-left: auto;
  margin-right: auto;

}

.center-text-car {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.border-radius {
  border-radius: 5px;
}
