.checkout-wrapper {
  height: 100vh;
  width: 100%;
  background-color: #b5a4a4;
}

.checkout-container {
  width: 290px;
  height: auto;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffc966;
  padding: 35px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  border: 1px solid rgba($color: #ec590a, $alpha: 0.3);
  box-shadow: rgba(236, 89, 10, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  color: #5e5656 !important;

  .checkout-title {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration: underline;
  }

  .payment-methods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .method-title {
      font-size: 18px;
    }

    .payments-container {
      width: 100%;
      display: flex;
      gap: 20px;

      .method {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        input[type="radio"] {
          opacity: 0;
          width: 0;
          height: 0;

          &:checked + label::before {
            border-color: #6691ff;
            background-image: radial-gradient(#6691ff 50%, transparent 70%);
            transform: scale(0.8);
          }
        }


        label {
          position: relative;
          padding-left: 25px;
          font-size: 16px;
          cursor: pointer;

          &::before {
            content: "";
            position: absolute;
            top: 2px;
            left: 0;
            width: 18px;
            height: 18px;
            border: 2px solid #aaa;
            border-radius: 50%;
          }

          &:hover::before {
            border-color: #666;
          }
        }
      }
    }
  }
}
