body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  // min-height: 100%;
}

.container-instructor-show {
  background-color: #f2f2f2;
  border-radius: 5px;
  max-width: 800px;
}

.container-instructor-show h1 {
  font-size: 40px;
  font-weight: bold;
  color: #00e1ff;
  text-shadow: 1px 1px 0 black;
}

// .container-instructor-show h3 {
//   font-size: 18px;
//   margin-top: 20px;
//   margin-bottom: 10px;
//   font-weight: bold;
// }

.hero-instructor {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://res.cloudinary.com/dblraorbo/image/upload/v1686720204/Drive%20Guru/orange-gradient-background.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 140px;
  margin-bottom: 10px;
  position: fixed;
  z-index: 9;
}

.back-link {
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}

.button-back-color {
  color: #ffffff;
  text-decoration: none;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 81px;
}

.review-block {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;
  max-height: 200px;
  line-height: 30px;
}

.d-flex.w-100.justify-content-between {
  background-color: #e9e8e8;
  border: 1px solid #dddddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  max-height: 47px;
  color: coral;
}

.center .left-align {
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.btn.btn-primary {
  padding: 10px 20px;
  font-size: 16px;
}

.box {
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 5px;
  width: 80%;
  max-height: 584px;
  margin: -27px;
}
