<h1><%= @instructor.company_name %></h1>
<p><strong>Car Transmission:</strong> <%= @instructor.car_transmission %></p>
<p><strong>Work Phone Number:</strong> <%= @instructor.work_phone_number %></p>
<p><strong>Region:</strong> <%= @instructor.address %></p>
