<h1>Instructor Details</h1>
<p>Company Name: <%= @instructor.company_name %></p>
<p>Car Transmission: <%= @instructor.car_transmission %></p>
<p>Work Phone Number: <%= @instructor.work_phone_number %></p>
<p>Address: <%= @instructor.address %></p>
