<h1>All Bookings</h1>

<ul class="list-group">
  <% @bookings.each do |booking| %>
    <li class="list-group-item">
      <%= booking.date %>
      <%= booking.time %>
      <%= link_to "Delete",
        booking_path(booking),
        data: { turbo_method: :delete, confirm: "Are you sure?" }
      %>
    </li>
  <% end %>
</ul>
<br>
