<%# <html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Instructor's profile</title>
  <style>
    .rounded-circle {
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
    .padding-small {
      padding: 0.25rem;
    }
  </style>
</head>

<body>
  <div class="container mt-4">
    <div class="card text-center padding-small mx-auto d-block" style="width: 18rem;">
      <img src="https://res.cloudinary.com/dujnrrugq/image/upload/v1686038361/HD-wallpaper-purple-smile-design-eye-smily-profile-pic-face-thumbnail_nyaqto.jpg" class="card-img-top rounded-circle" alt="Instructor Profile Picture">

      <div class="card-body">
        <h5 class="card-title">Veddddd</h5>

        <div class="rating">
          <span class="text-muted">Rating:</span>
          <span class="text-warning">&#9733; &#9733; &#9733; &#9733; &#9734;</span>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html> %>
