<footer class="footer" style="background-color: orange;">
  <div class="navbar">
    <a href="/">
      <i class="fas fa-home white-icon"></i>
    </a>
    <a href="/bookings">
      <i class="fas fa-calendar-alt white-icon"></i>
    </a>
    <%# <a href="/chatroom">
    </a> %>
    <a href="#">
      <i class="fas fa-user white-icon"></i>
    </a>
  </div>
</footer>
