<footer class="footer" style="background-color: orange;">
  <div class="navbar">
    <a href="/">
      <i class="fas fa-home white-icon"></i>
    </a>
    <%= link_to bookings_path do %>
      <i class="fas fa-calendar-alt white-icon"></i>
    </a>
    <%# <a href="/chatroom">
    </a> %>
    <% if current_user.present? %>
      <%= link_to user_path(current_user) do %>
        <i class="fas fa-user white-icon"></i>
      <% end %>
    <% end %>
  </div>
</footer>
