<div class="container mx auto" style = "background-color: rgba(255, 255, 255, 0.8); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
  <div class="checkout-banner">
    <div class="text-overlay">
      Checkout
    </div>
    <form class="row g-3">
      <div class="tarif">
        <p>Each 30m - RS500</p>
        <p>Each 1H - RS1000</p>
        <p>Each 2H - RS2000</p>
      </div>

      <div class="payment-container ">
      </div>
      <div class= "tarif p">
        <input type="radio" id="cash" name="payment_method" value="cash">
        <label for="cash">Cash</label><br>
        <input type="radio" id="card" name="payment_method" value="card">
        <label for="card">Card Payment</label><br>

        <input type="radio" id="juice" name="payment_method" value="juice">
        <label for="juice">Juice</label>
      </div>

      <div class="btn-container">
        <a href="/status"  class="btn btn-warning">Checkout</a>
      </div>
    </form>
  </div>
 </div>
