<div class="checkout-wrapper">
  <div class="checkout-container">
    <span class="checkout-title">Checkout</span>

    <div class="payment-methods">
      <span class="method-title">Methods of Payment :</span>
      <div class="payments-container">
        <div class="method">
          <input type="radio" name="payment" id="Juice" value = "Juice">
          <label for="Juice">Juice</label>
        </div>

        <div class="method">
          <input type="radio" name="payment" id="Card" value = "Card">
          <label for="Card">Card</label>
        </div>

        <div class="method">
          <input type="radio" name="payment" id="Cash" value = "Cash">
          <label for="Cash">Cash</label>
        </div>
      </div>
    </div>

    <%= link_to "Checkout", status_path, class: "btn btn-primary" %>
  </div>
</div>
