<div class="container--status">
 <img src="https://res.cloudinary.com/dblraorbo/image/upload/v1687453214/Drive%20Guru/checked.png" class="img-success" alt="">
  <h1>Payment Successful</h1>
  <form class="row g-3">
    <div class="card text-center">
      <div class="card-body">
        <p class="card-text">Thank you for your payment.</p>
        <a href="/" class="btn btn-primary">Continue</a>
      </div>
    </div>
  </form>

<div class="msg">
  "Drive confidently with the right instructor by your side"
</div>


</div>
