<body class="payment-bg">
  <div class= "container w-25 shadow p-5 rounded text-center" style = "background-color: rgba(255, 255, 255, 0.8); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
    <h1>Payment Successful</h1>
    <form class="row g-3">
<%#
     <div class="card text-center"> %>
      <div class="card-body" style ="height: 200px text-align: center ;">

    <%# <h5 class="card-title">Track Order Status</h5> %>

    <p class="card-text">Thank you for your payment.</p>

    <a href="/" class="btn btn-primary">Continue</a>
  <%# </div> %>
</div>


</form>
