.footer {
  box-sizing: border-box;
  background-color: #FF7A00;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  z-index: 9;
}

.footer .navbar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer .navbar a {
  margin: 0 30px;
}

.footer .navbar a i {
  font-size: 20px;
}

.footer .white-icon {
  color: white;
}
