.navbar-lewagon {
  justify-content: space-between;
  background: transparent; /* Set the background to transparent */
  box-shadow: none; /* Remove any box shadow */
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 30%; /* Set the width of the logo to 100% */
}

.navbar-lewagon .navbar-nav {
  display: none; /* Hide the navbar links */
}
