<div class="container mx-auto" style="background-color: rgba(255, 255, 255, 0.8); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
  <h1>New Review</h1>

  <%= simple_form_for [@booking, @review] do |f| %>

    <%= f.input :description %>

    <%= f.input :rating, collection: 1..5, as: :radio_buttons %>

    <%= f.submit "Create Review" %>
  <% end %>
</div>
